@font-face {
  	font-family: 'Baumans';
  	font-style: normal;
  	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baumans/v5/kbtl0fNFXS6xSHz_-ZSF6ALUuEpTyoUstqEm5AMlJo4.woff2);
}
@font-face {
  	font-family: "Source Sans Pro";
  	font-style: normal;
  	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2);
}
body{
	background-color: #e6f2ff;
}
#cover{
	background-image: url(http://cdn.zumic.com/wp-content/uploads/2015/10/Vulfpeck-Thrill-of-the-Arts-2015-album-official-cover.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
	width: 500px;
	margin: auto;
}
h1{
	font-family: "Baumans";
	font-size: 60px;
}

#title{
	font-family: Verdana,Times;
	text-align: center;	
}
#line {
	width:100%;
	height: 2px;
	background: #b30000;
	margin-top: 5%;
	margin-bottom: 5%;
}
h3{
	font-size: 150%;
}
ul{
	background: #b30000;
	color: white;
	padding: 1%;
	margin: 1% 10% 1% 10%;
    border: 15px double white;
    list-style-position: inside;
}
li span{
	font-style: italic;
}
#members{
	font-family: "Source Sans Pro";
	font-size: 20px;
	text-align: center;
	display: block;
	margin: auto;
}
caption{
	font-family: Verdana, Times;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
table{
	 border: 1px solid #b30000;
	
}
th{
	font-family: Verdana, Times;
	height: 50px;
	border: 1px solid #b30000;
}
tbody{
	font-style: italic;
}
tr:nth-child(odd){
	background-color: #e0ebeb;
}
tr:nth-child(even){
	background-color: #FFFFFF;
}
tr:hover{
	text-shadow: 0 0 .5px #333, 0 0 .5px #333;
	
}
tr{
  font-family: Verdana, Times;
  border: 1px solid #b30000;
}
td{
  font-family: Verdana, Times;
  border: 1px solid #b30000;
}