p{
	font-family: 'Bungee Shade', Arial, sans-serif;
	font-size: 70px;
	text-align: center;
	margin-right: 10px;
	color: black;
	
}	
#starting-bet{
	margin-left: 30%;
	margin-bottom: 5%;
	align: center;
}
#sbText{
	margin-left: 8%;
	margin-right: 2%;
	color: black;
}
#play{
	align: center;
	width: 200%;
	margin-top: 10%;
	margin-left: -50%
}
#results{
	display: inline-block;
	width: 100%;
	height: 50%;
}
caption{
	color: black;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	background-color: MediumSeaGreen;
	padding: 40px;
}
td{
	border: 1px solid white;
}
.table{
	width: 150px;
	height: 200px;
	margin-top: 5%;
	margin-left: 5%;
	background-color: MediumSeaGreen;
	border-radius: 10%;
	padding: 50px;
	border: 20px solid MediumSeaGreen;
	
}