@font-face {
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/overlocksc/v5/cFrEOzZWUct6fhBu_bFdkogp9Q8gbYrhqGlRav_IXfk.woff2);
}
.header{
	border-top: 5px solid #70AB8F;
	border-bottom: 5px solid #70AB8F;
	padding-bottom: 1%;	
}
h1{
	font-family: 'Overlock SC', Serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 7px;
	color: #DC5B21;
}
h2{
	font-family: 'Overlock SC', Serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 7px;
	color: #DC5B21;
	margin-bottom: 20px;
}
a{
	font-family: Verdana, Times;
	font-weight: normal;
	margin: 2%;
}
a:link{
	color: blue;
}
a:hover{
	font-weight: bold;
}
a:visited{
	color: purple;
}
a:active{
	text-decoration: none;
}
#Home{
	background-color: #bddbcb;
	margin-bottom: -2%;
}
#myCarousel{
	height: 35%;
	width: 100%;
}
.centered{
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}
#storefront{
	border: 3px solid #70AB8F;
}
	
}
img{
	margin-top: 2%; 
	margin-bottom: 2%;
}
.footer{
	background-color: #E4DBBF;
	font-family: Georgia, Times, Serif;
	text-align: center;
	letter-spacing: 2px;
	color: #DC5B21;
	border-top: 5px solid #70AB8F;
	margin-top: 2%;
}