h1{
	font-family: Georgia, Times, Serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 7px;
	color: #DC5B21;
}
.line{
	width: 100%;
	height: 5px;
	background: #70AB8F;
	margin-top: 2%;
	margin-bottom: 2%;
}
#header{
	
}
a:link{
	
	color: blue;
}
a{
	font-family: Verdana, Times;
	margin: 2%;
}
#footer{
	font-family: Georgia, Times, Serif;
	text-align: center;
	letter-spacing: 2px;
	margin: 3%;
	color: #DC5B21;
}