body{
	background-color: #e6f2ff;
}
img {
    margin: 5% auto 5% auto;
	display: block;
	box-shadow: -5px 5px 5px grey;
  
}
h1{
	font-weight:bold;
}

#title{
	font-family: Verdana,Times;
	text-align: center;	
}
#line {
	width:100%;
	height: 2px;
	background: #b30000;
	margin-top: 5%;
	margin-bottom: 5%;
}
h3{
	font-size: 150%;
}
ul{
	background: #b30000;
	color: white;
	padding: 1%;
	margin: 1% 10% 1% 10%;
    border: 15px double white;
    list-style-position: inside;
}
#members{
	font-family: Verdana, Times;
	text-align: center;
	display: block;
	margin: auto;
}
ul span{
	text-decoration: underline;
}
caption{
	font-family: Verdana, Times;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
table{
	 border: 1px solid #b30000;
	
}
th{
	font-family: Verdana, Times;
	height: 50px;
	border: 1px solid #b30000;
}
tr:nth-child(odd){
	background-color: #e0ebeb;
}
tr:nth-child(even){
	background-color: #FFFFFF;
}
tr:hover{
	text-shadow: 0 0 .5px #333, 0 0 .5px #333;
	
}
tr{
  font-family: Verdana, Times;
  border: 1px solid #b30000;
}
td{
  font-family: Verdana, Times;
  border: 1px solid #b30000;
}