@font-face {
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/overlocksc/v5/cFrEOzZWUct6fhBu_bFdkogp9Q8gbYrhqGlRav_IXfk.woff2);
}
h1{
	font-family: 'Overlock SC', Serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 7px;
	color: #DC5B21;
}
.line{
	width: 100%;
	height: 5px;
	background: #70AB8F;
	margin-top: 2%;
	margin-bottom: 2%;
}
a{
	font-family: Verdana, Times;
	font-weight: normal;
	margin: 2%;
}
a:link{
	color: blue;
}
a:hover{
	font-weight: bold;
}
a:visited{
	color: purple;
}
a:active{
	text-decoration: none;
}
#Home{
	background-color: #bddbcb;
}
#menuTop{
	display: inline-block;
	width: 100%;
	height: 33%;
	
}
#menuBottom{
	display: inline-block;
	width: 100%;
	height: 33%;
}
.pleft{
	display: inline-block;
	width: 33%;
	height: 33%;
	float: left;
}
.pcenter{
	display: inline-block;
	width: 33%;
	height: 33%;
	float: center;
}
.pright{
	display: inline-block;
	width: 33%;
	height: 33%;
	float: right;
}
#footer{
	background-color: #E4DBBF;
	font-family: Georgia, Times, Serif;
	text-align: center;
	letter-spacing: 2px;
	color: #DC5B21;
}